{% extends layout %}

{% form_theme form 'Form/form.twig' %}

{% block content_title %}Connexion{% endblock %}

{% block content %}

    <form action="{{ path('login_check') }}" method="post" class="well">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-info">Connexion</button>
    </form>

{% endblock %}