{% extends layout %}

{% form_theme form 'Form/form.twig' %}

{% block content_title %}S'enregistrer{% endblock %}

{% block content %}

    <form action="{{ path('register') }}" method="post" class="well">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-info">S'enregistrer</button>
    </form>

{% endblock %}